<!DOCTYPE html>
<html>
  <head>
    {% load staticfiles %}
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Home Page</title>
  </head>
  <body>
    <div class="container">
      <div class="JUMBOTRON">
            <h1>Welcome To The Homepage</h1>
            <h2>Browse /forms to access the forms page</h2>
      </div>
    </div>
  </body>
</html>
